<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00-3:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00-3:30pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30-5:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a> (Introducing the Shell, Navigating Files and Directories)</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00-3:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a> (Working with Files and Directories, Redirection)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00-3:30pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30-5:00pm </td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a> (Writing Scripts and Working with Data, Project Organization)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00-3:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing for Genomics</a>(Background and Metadata, Assessing Read Quality)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00-3:30pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30-5:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing for Genomics</a>(Trimming and Filtering)</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00-3:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing for Genomics</a>(Variant Calling Workflow)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00-3:30pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30-5:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing for Genomics</a>(Automating a Variant Calling Workflow)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00-3:00pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
  </div>
</div>
